# Файлы и папки macOS
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
Icon?
*~
._*

# Сборочные директории
/node_modules
/build
/dist
/out
/public/assets
/public/images
/public/js
/public/css
/public/scss
/vendor
/compiled
/.next
/.nuxt
/.cache
/.output
/bundle
/assets
static

# Лог-файлы и журналы ошибок
*.log
*.pid
*.seed
*.dump
*.sql
*.sqlite
*.lock
*.crash
core.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Конфигурационные файлы окружения
.env
.env.*
config.json
settings.json
secret_key.txt
secrets.*.*

# Рабочие файлы редактора и инструмента разработчика
.vscode/*
!.vscode/settings.json
.idea
.project
.classpath
.settings
.tmproj
.npmrc
.sass-cache
.editorconfig
.eslintrc
.stylelintrc
.prettierignore
.prettierrc
.jshintrc
eslintignore
*.iml
.idea
.DS_Store
.Thumbs.db
Desktop.ini
nbproject
tags
TAGS
.project
.classpath
.settings
.targets
.pmd
.cpd

# Скрипты автоматизации и тестовые сценарии
npm-debug.log
yarn-error.log
coverage
*.map
test-results
reports
tests
test-suite
reports
unit-test-output
functional-test-output
integration-test-output
performance-test-output
load-test-output
security-test-output
accessibility-test-output
cross-browser-test-output
ui-test-output
regression-test-output
smoke-test-output
sanity-test-output
staging-test-output
prod-test-output
selenium-screenshots
protractor-screenshots
puppeteer-screenshots
nightwatch-screenshots
webdriverio-screenshots
cypress-screenshots
karma-screenshots
mocha-screenshots
jasmine-screenshots
ava-screenshots
tap-screenshots
tape-screenshots
jenkins-jobs
circleci-config
travis-ci-config
gitlab-ci-config
teamcity-config
bamboo-config
jenkins-credentials
.circleci/config.yml
.travis.yml
.gitlab-ci.yml
.teamcity/projects
.bamboo-specs
Jenkinsfile
circle.yml
.travis
.gitlab-ci
teamcity
bamboo
bitbucket-pipelines.yml
azure-pipelines.yml
Appveyor.yml
codeship-steps.yml
wercker.yml
semaphore.yml
drone.yml
shippable.yml
concourse.yml
hudson.xml
jenkins.xml
jenkins.xml.bak
.travis.yml.bak
.travis.yml.dist
.gitlab-ci.yml.bak
.gitlab-ci.yml.dist
teamcity-configuration.zip
teamcity-configuration.tar.gz
teamcity-configuration.tar.xz
teamcity-configuration.tar.bz2
teamcity-configuration.tar.lzma
teamcity-configuration.tar.lzo
teamcity-configuration.tar.zstd
teamcity-configuration.zip.bak
teamcity-configuration.tar.gz.bak
teamcity-configuration.tar.xz.bak
teamcity-configuration.tar.bz2.bak
teamcity-configuration.tar.lzma.bak
teamcity-configuration.tar.lzo.bak
teamcity-configuration.tar.zstd.bak
bamboo.specs.zip
bamboo.specs.tar.gz
bamboo.specs.tar.xz
bamboo.specs.tar.bz2
bamboo.specs.tar.lzma
bamboo.specs.tar.lzo
bamboo.specs.tar.zstd
bamboo.specs.zip.bak
bamboo.specs.tar.gz.bak
bamboo.specs.tar.xz.bak
bamboo.specs.tar.bz2.bak
bamboo.specs.tar.lzma.bak
bamboo.specs.tar.lzo.bak
bamboo.specs.tar.zstd.bak
pipeline.yml
job.yml
stage.yml
task.yml
workflow.yml
plan.yml
run.yml
trigger.yml
schedule.yml
event.yml
hook.yml
deployment.yml
release.yml
build.yml
publish.yml
deploy.yml
post-deploy.yml
pre-deploy.yml
setup.yml
teardown.yml
cleanup.yml
validate.yml
verify.yml
review.yml
approve.yml
reject.yml
notify.yml
alert.yml
report.yml
summary.yml
dashboard.yml
monitor.yml
audit.yml
compliance.yml
policy.yml
rule.yml
constraint.yml
check.yml
scan.yml
analyze.yml
test.yml
debug.yml
trace.yml
profile.yml
benchmark.yml
measure.yml
metric.yml
score.yml
rank.yml
grade.yml
evaluate.yml
rate.yml
feedback.yml
survey.yml
poll.yml
vote.yml
comment.yml
annotation.yml
label.yml
tag.yml
category.yml
taxonomy.yml
ontology.yml
schema.yml
dictionary.yml
glossary.yml
terminology.yml
vocabulary.yml
reference.yml
guidelines.yml
instructions.yml
manual.yml
documentation.yml
readme.md
changelog.md
license.md
contributing.md
code-of-conduct.md
roadmap.md
backlog.md
issue-template.md
pull-request-template.md
commit-message-template.md
version-control.md
branching-model.md
release-management.md
dependency-management.md
package-manager.md
package-lock.json
yarn.lock
pnpm-lock.yaml
composer.lock
requirements.txt
Gemfile.lock
Cargo.lock
mix.lock
package.json
package-lock.json
yarn.lock
pnpm-lock.yaml
composer.lock
requirements.txt
Gemfile.lock
Cargo.lock
mix.lock
packages/*
node_modules
bower_components
vendor
dist
tmp
coverage
nodemon.json
gruntfile.js
gulpfile.js
webpack.config.js
rollup.config.js
babel.config.js
mocha.opts
istanbul.yml
nyc.config.js
lint-staged.config.js
husky.config.js
prettier.config.js
stylelint.config.js
eslint.config.js
webpack.common.js
webpack.dev.js
webpack.prod.js
webpack.test.js
flow-typed
.eslintrc
.eslintrc.js
.eslintrc.json
.tslint.json
.tslint.yaml
.tslint.yml
.stylelintrc
.stylelintrc.js
.stylelintrc.json
.stylelintrc.yaml
.stylelintrc.yml
.prettierignore
.prettierrc
.prettierrc.js
.prettierrc.json
.prettierrc.yaml
.prettierrc.yml
.editorconfig
.commitlintrc
.commitlintrc.js
.commitlintrc.json
.commitlintrc.yaml
.commitlintrc.yml
renovate.json
renovate.json5
renovate.js
renovaterc
lerna.json
lerna.js
lerna.json5
lerna.rc
metro.config.js
metro.config.json
metro.config.yaml
metro.config.yml
metro.config.json
metro.config.js.yaml
metro.config.js.yml
metro.config.js.on
metro.config.js.json
metro.config.js.yaml
metro.config.js.yml
metro.config.js.on
metro.config.js.json
metro.config.js.yaml
metro.config.js.yml
metro.config.js.on
meteor/
node_modules/
coverage/

# iOS Build Artifacts
*.ipa
*.xcarchive
DerivedData/
Pods/
Podfile.lock
Podfile.resolved
Carthage/
*.framework
*.plist
*.storyboardc
*.stringsdict
*.strings
*.xib
*.xcdatamodel
*.xcdatamodeld
*.mom
*.momd
*.dsym
*.app
*.appex
*.mobileprovision
*.cer
*.pem
*.key
*.certSigningRequest
*.pbxproj
*.mode1v3
