/* Error: Undefined mixin.
 *    ,
 * 11 | /     @include Laptop {
 * 12 | |         --container-wigth: #{rem(1280)}; //Ширина контейнера на планшете
 * 13 | \     }
 *    '
 *   styles/_variables.scss 11:5  @use
 *   styles/main.scss 3:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 11 \2502  \250c      @include Laptop {\a 12 \2502  \2502          --container-wigth: #{rem(1280)}; //\428 \438 \440 \438 \43d \430  \43a \43e \43d \442 \435 \439 \43d \435 \440 \430  \43d \430  \43f \43b \430 \43d \448 \435 \442 \435 \a 13 \2502  \2514      }\a    \2575 \a   styles/_variables.scss 11:5  @use\a   styles/main.scss 3:1         root stylesheet";
}
